.divimg {
    margin-top: 2em;
}

.btn.activo {
    background-image: url(./seba.png);
    background-size:70px 70px;
    background-repeat: no-repeat;
    background-position:center;
    width:70px;
    height:70px;
    margin-top:2.3em;
    border:none;
    outline:none;
}

p {
    font-size:0.8em;
}
.col h1 {
    font-size:2em;
    margin-top:1em;
}

.cueva{
    background-image: url(./cueva.png);
    background-size:130px 130px;
    background-repeat: no-repeat;
    background-position:center;
    height:130px;
}

button {
    background-image: none;
    background-size:50px 50px;
    background-repeat: no-repeat;
    background-position:center;
    width:50px;
    height:50px;
    margin-top:2.3em;
    border:none;
    outline:none;
}

#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(./seba.png);

}
