.divimg {
    margin-top: 2em;
}

.btn.activo {
    background-image: url(./seba.png);
    background-size:50px 50px;
    background-repeat: no-repeat;
    background-position:center;
    width:50px;
    height:50px;
    margin-top:2.3em;
}

.divimg h2 {
    font-size:1.5em;
}
p {
    font-size:0.8em;
}
.col h1 {
    font-size:2em;
}

.cueva{
    background-image: url(./cueva.png);
    background-size:100px 100px;
    background-repeat: no-repeat;
    background-position:center;
    height:100px;
}

button {
    background-image: none;
    background-size:50px 50px;
    background-repeat: no-repeat;
    background-position:center;
    width:50px;
    height:50px;
    margin-top:2.3em;
}
