.divimg {
    margin-top: 2em;
}

.btn.activo {
    background-image: url(./seba.png);
    background-size:52px 72px;
    background-repeat: no-repeat;
    background-position:center;
    width:52px;
    height:75px;
    margin-top:2.3em;
    border:none;
    outline:none;
    color:#04de04;
}

p {
    font-size:0.8em;
}
.col h1 {
    font-family: 'Bangers', cursive;
    font-size:2em;
    margin-top:1em;
}

.cueva{
    background-image: url(./cueva.png);
    background-size:130px 130px;
    background-repeat: no-repeat;
    background-position:center;
    height:130px;
}

button {
    background-image: none;
    background-size:52px 72px;
    background-repeat: no-repeat;
    background-position:center;
    width:52px;
    height:75px;
    margin-top:2.3em;
    border:none;
    outline:none;
    color:#04de04;
}
button.empezar {
    background-image: none;
    width:auto;
    height:auto;
    margin-top:2.3em;
    border:none;
    outline:none;

    color:white;
    background-color:black;
    font-family:'Bangers', cursive;
    border-radius:6px;
}

button:focus {
    border:none;
    outline:none;
}

button:active {
    border:none;
    outline:none;
}

#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(./seba.png);

}
